In [6]:
import pandas as pd
import requests

api_link = "https://apisidra.ibge.gov.br/values/t/4241/n1/all/n2/all/v/4208/p/last%201/c2/6794/c1/6795/d/v4208%200"
response = requests.get(api_link)
data = response.json()
df = pd.DataFrame(data)

# Define o novo cabeçalho como a primeira linha do dataframe
new_header = df.iloc[0]

# Renomeia as colunas do dataframe utilizando o novo cabeçalho
df = df[1:]
df = df.rename(columns=new_header)


#df = pd.read_excel('C:/Users/Shiryu Mag/OneDrive - HITSS DO BRASIL SERVIÇOS TECNOLOGICOS LTDA/LAKEITEXTRAÇÃO TESTE/Tabela 5938.xlsx',header=1)
#pd.options.display.float_format = '{:.2f}'.format

In [4]:
print(df)

                           NC                 NN                          MC  \
0  Nível Territorial (Código)  Nível Territorial  Unidade de Medida (Código)
1                           1             Brasil                        1572
2                           2      Grande Região                        1572
3                           2      Grande Região                        1572
4                           2      Grande Região                        1572
5                           2      Grande Região                        1572
6                           2      Grande Região                        1572

                  MN      V                              D1C  \
0  Unidade de Medida  Valor  Brasil e Grande Região (Código)
1        Mil pessoas  19525                                1
2        Mil pessoas   1290                                1
3        Mil pessoas   4455                                2
4        Mil pessoas   8920                                3
5        Mil pessoas   3352                                4
6        Mil pessoas   1508                                5

                      D1N                D2C  \
0  Brasil e Grande Região  Variável (Código)
1                  Brasil               4208
2                   Norte               4208
3                Nordeste               4208
4                 Sudeste               4208
5                     Sul               4208
6            Centro-Oeste               4208

                                                 D2N           D3C   D3N  \
0                                           Variável  Ano (Código)   Ano
1  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019
2  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019
3  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019
4  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019
5  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019
6  Pessoas de 18 anos ou mais de idade fumantes a...          2019  2019

             D4C    D4N                             D5C                    D5N
0  Sexo (Código)   Sexo  Situação do domicílio (Código)  Situação do domicílio
1           6794  Total                            6795                  Total
2           6794  Total                            6795                  Total
3           6794  Total                            6795                  Total
4           6794  Total                            6795                  Total
5           6794  Total                            6795                  Total
6           6794  Total                            6795                  Total

In [8]:
df.head(6)

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil e Grande Região (Código),Brasil e Grande Região,Variável (Código),Variável,Ano (Código),Ano,Sexo (Código),Sexo,Situação do domicílio (Código),Situação do domicílio
1,1,Brasil,1572,Mil pessoas,19525,1,Brasil,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total
2,2,Grande Região,1572,Mil pessoas,1290,1,Norte,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total
3,2,Grande Região,1572,Mil pessoas,4455,2,Nordeste,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total
4,2,Grande Região,1572,Mil pessoas,8920,3,Sudeste,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total
5,2,Grande Região,1572,Mil pessoas,3352,4,Sul,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total
6,2,Grande Região,1572,Mil pessoas,1508,5,Centro-Oeste,4208,Pessoas de 18 anos ou mais de idade fumantes a...,2019,2019,6794,Total,6795,Total

In [25]:
df = df.rename(columns={'Unnamed: 3': 'PIB (Mil Reais)'})

In [53]:
df.head()

,Brasil e Grande Região,Ano,Variável,PIB (Mil Reais)
0,Brasil,2020.00,Produto Interno Bruto a preços correntes (Mil ...,7609597000.00
1,Norte,2020.00,Produto Interno Bruto a preços correntes (Mil ...,478173049.00
2,Nordeste,2020.00,Produto Interno Bruto a preços correntes (Mil ...,1079331031.00
3,Sudeste,2020.00,Produto Interno Bruto a preços correntes (Mil ...,3952694729.00
4,Sul,2020.00,Produto Interno Bruto a preços correntes (Mil ...,1308147455.00

In [55]:
df = df.drop('Variável',axis=1)

In [56]:
df.head()

  Brasil e Grande Região     Ano  PIB (Mil Reais)
0                 Brasil 2020.00    7609597000.00
1                  Norte 2020.00     478173049.00
2               Nordeste 2020.00    1079331031.00
3                Sudeste 2020.00    3952694729.00
4                    Sul 2020.00    1308147455.00