<a href="https://colab.research.google.com/github/andrevictorm/PYTHON_PANDAS-PANDERA/blob/main/PANDERA_FILTROS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandera as pa

ModuleNotFoundError: ignored

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv",sep=";",parse_dates= ["ocorrencia_dia"],dayfirst=True)
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_uf == '**']

In [ ]:
pd.unique(df['ocorrencia_cidade'])

array(['RIO DE JANEIRO', 'BELÉM', 'LUCAS DO RIO VERDE', ...,
       'RIO PARANAÍBA', 'MATO RICO', 'VICENTINA'], dtype=object)

In [ ]:
sorted(pd.unique(df['ocorrencia_uf']))

['**',
 'AC',
 'AL',
 'AM',
 'AP',
 'BA',
 'CE',
 'DF',
 'ES',
 'GO',
 'MA',
 'MG',
 'MS',
 'MT',
 'PA',
 'PB',
 'PE',
 'PI',
 'PR',
 'RJ',
 'RN',
 'RO',
 'RR',
 'RS',
 'SC',
 'SE',
 'SP',
 'TO']

In [ ]:
'**','****','####','###!','*****'

In [ ]:
dfback=df
dfback

LIMPEZAZ DE DADOS

In [ ]:
df.replace(['**','****','####','###!','*****'],pd.NA, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(subset=['ocorrencia_aerodromo'])

      codigo_ocorrencia  ...  total_recomendacoes
1                 40349  ...                    0
2                 40351  ...                    0
4                 40324  ...                    0
6                 40215  ...                    0
8                 39156  ...                    2
...                 ...  ...                  ...
5743              79824  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[3403 rows x 9 columns]

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

Validação de Dados

In [ ]:
schema = pa.DataFrameSchema(
    columns={
       'codigo_ocorrencia':pa.Column(pa.Int),
       'codigo_ocorrencia2':pa.Column(pa.Int),
       'ocorrencia_classificacao':pa.Column(pa.String),
       'ocorrencia_cidade':pa.Column(pa.String),
       'ocorrencia_uf':pa.Column(pa.String,pa.Check.str_length(2,2),nullable=True),
       'ocorrencia_aerodromo':pa.Column(pa.String,pa.Check.str_length(4,4),nullable=True),
       'ocorrencia_dia':pa.Column(pa.DateTime),
       'ocorrencia_hora':pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'),nullable=True),
       'total_recomendacoes':pa.Column(pa.Int),
    }     
)

In [ ]:
schema.validate(df)

**FILTROS**

In [ ]:
df.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5751
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
dtype: int64

In [ ]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [ ]:
filter=df.ocorrencia_aerodromo.isnull()

In [ ]:
filter1=df.ocorrencia_classificacao == 'ACIDENTE'
filter2=df.ocorrencia_uf == 'RJ'

In [ ]:
df.loc[filter1 & filter2]

In [ ]:
df.loc[filter1 | filter2] #ou. um ou outro

In [ ]:
filter3 = df.ocorrencia_classificacao.isin(['ACIDENE','INCIDENTE'])
filter4 = df.ocorrencia_uf =='SP' 
df.loc[filter3 & filter4]

In [ ]:
filtroLetra = df.ocorrencia_cidade.str[1]=='E'
df.loc[filtroLetra]

In [ ]:
filtroLetra = df.ocorrencia_cidade.str[-2:]=='RA'
df.loc[filtroLetra]

In [ ]:
filtroLetra = df.ocorrencia_cidade.str.contains('RIO')
df.loc[filtroLetra]

In [ ]:
filtroLetra = df.ocorrencia_cidade.str.contains('MA|RIO')
df.loc[filtroLetra]

In [ ]:
filtroData = df.ocorrencia_dia.dt.year == 2018

In [ ]:
df.loc[filter3 & filter4 & filtroData]

      codigo_ocorrencia  ...  total_recomendacoes
4308              77614  ...                    0
4317              77632  ...                    0
4323              77643  ...                    0
4341              77704  ...                    0
4347              77705  ...                    0
...                 ...  ...                  ...
4725              78357  ...                    0
4726              78363  ...                    0
4740              78387  ...                    0
4741              78410  ...                    0
4744              78406  ...                    0

[69 rows x 9 columns]